apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
        - name: aggregator
          image: aggregator-microservice:0.0.1-SNAPSHOT
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_CONFIG_LOCATION
              value: file:/config/application.properties
          volumeMounts:
            - name: aggregator-config-volume
              mountPath: /config/application.properties
              subPath: application.properties
      volumes:
        - name: aggregator-config-volume
          configMap:
            name: aggregator-config
            items:
              - key: application.properties
                path: application.properties
---
apiVersion: v1
kind: Service
metadata:
  name: aggregator-service
spec:
  type: NodePort
  selector:
    app: aggregator
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30082
